gl-ena_materializer/src/test/resources/org/ensembl/genomeloader/util/database/updater/tableUpdaterSchema.dtd

<!ELEMENT dataset (
	OLD_UNSEC*,
	NEW_UNSEC*,
	TMP_UNSEC*,
	UNSEC*,
	TMP_SEC*,
	OLD_SEC*,
	SEC*,
	OLD_ROOT*,
	NEW_ROOT*,
	TMP_ROOT*,
	ROOT*,
	OLD_NODEONE*,
	NEW_NODEONE*,
	TMP_NODEONE*,
	NODEONE*,
	OLD_NODETWO*,
	NEW_NODETWO*,
	TMP_NODETWO*,
	NODETWO*,
	OLD_FKTAB*,
	NEW_FKTAB*,
	TMP_FKTAB*,
	FKTAB*,
	FKTARGET*,
	CV_TABLE*,
	CV_SECTION*,
	SECTION_ARCHIVE*,
	PROCESS_OWNER*,
	UPDATE_PROCESS_OWNER*
)>

<!ELEMENT OLD_UNSEC EMPTY>
<!ATTLIST OLD_UNSEC
	ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT NEW_UNSEC EMPTY>
<!ATTLIST NEW_UNSEC
	ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT TMP_UNSEC EMPTY>
<!ATTLIST TMP_UNSEC
	ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT UNSEC EMPTY>
<!ATTLIST UNSEC
	ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT TMP_SEC EMPTY>
<!ATTLIST TMP_SEC
	ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT OLD_SEC EMPTY>
<!ATTLIST OLD_SEC
	ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT SEC EMPTY>
<!ATTLIST SEC
	ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT OLD_ROOT EMPTY>
<!ATTLIST OLD_ROOT
	ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT NEW_ROOT EMPTY>
<!ATTLIST NEW_ROOT
	ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT TMP_ROOT EMPTY>
<!ATTLIST TMP_ROOT
	ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT ROOT EMPTY>
<!ATTLIST ROOT
	ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT OLD_NODEONE EMPTY>
<!ATTLIST OLD_NODEONE
	ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	ROOT_ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT NEW_NODEONE EMPTY>
<!ATTLIST NEW_NODEONE
	ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	ROOT_ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT TMP_NODEONE EMPTY>
<!ATTLIST TMP_NODEONE
	ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	ROOT_ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT NODEONE EMPTY>
<!ATTLIST NODEONE
	ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	ROOT_ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT OLD_NODETWO EMPTY>
<!ATTLIST OLD_NODETWO
	ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	ROOT_ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT NEW_NODETWO EMPTY>
<!ATTLIST NEW_NODETWO
	ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	ROOT_ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT TMP_NODETWO EMPTY>
<!ATTLIST TMP_NODETWO
	ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	ROOT_ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT NODETWO EMPTY>
<!ATTLIST NODETWO
	ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	ROOT_ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT OLD_FKTAB EMPTY>
<!ATTLIST OLD_FKTAB
	ID CDATA #REQUIRED
	FK_ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT NEW_FKTAB EMPTY>
<!ATTLIST NEW_FKTAB
	ID CDATA #REQUIRED
	FK_ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT TMP_FKTAB EMPTY>
<!ATTLIST TMP_FKTAB
	ID CDATA #REQUIRED
	FK_ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT FKTAB EMPTY>
<!ATTLIST FKTAB
	ID CDATA #REQUIRED
	FK_ID CDATA #REQUIRED
	SECTIONID CDATA #IMPLIED
>

<!ELEMENT FKTARGET EMPTY>
<!ATTLIST FKTARGET
	ID CDATA #REQUIRED
	DESCRIPTION CDATA #REQUIRED
>

<!ELEMENT CV_TABLE EMPTY>
<!ATTLIST CV_TABLE
	ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	SKIP_SHRINKAGE_CHECK CDATA #REQUIRED
>

<!ELEMENT CV_SECTION EMPTY>
<!ATTLIST CV_SECTION
	ID CDATA #REQUIRED
	TABLE_ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	SKIP_SHRINKAGE_CHECK CDATA #REQUIRED
>

<!ELEMENT SECTION_ARCHIVE EMPTY>
<!ATTLIST SECTION_ARCHIVE
	ID CDATA #REQUIRED
	SECTION_ID CDATA #REQUIRED
	EXTERNAL_VERSION CDATA #IMPLIED
	VERSION_ID CDATA #REQUIRED
	CREATED CDATA #REQUIRED
	DELETED CDATA #IMPLIED
	ROWCOUNT CDATA #REQUIRED
>

<!ELEMENT PROCESS_OWNER EMPTY>
<!ATTLIST PROCESS_OWNER
	ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	DESCRIPTION CDATA #IMPLIED
	CONTACT CDATA #IMPLIED
>

<!ELEMENT UPDATE_PROCESS_OWNER EMPTY>
<!ATTLIST UPDATE_PROCESS_OWNER
	ID CDATA #REQUIRED
	PARENTID CDATA #IMPLIED
	NAME CDATA #REQUIRED
	DESCRIPTION CDATA #IMPLIED
>
