gl-ena_materializer/src/test/resources/org/ensembl/genomeloader/services/version/versionSchema.dtd

<!ELEMENT dataset (
    CV_SECTION*,
    CV_TABLE*,
    SECTION_ARCHIVE*,
    SECTION_ACCESS_ARCHIVE*,
    JOBS*,
    PROCESS_OWNER*,
    UPDATE_PROCESS_OWNER*,
    PROCESS*,
    UPDATE_PROCESS*,
    PROCESS_STATUS*,
    JOB_STATUS*)>

<!ELEMENT CV_SECTION EMPTY>
<!ATTLIST CV_SECTION
    ID CDATA #REQUIRED
    TABLE_ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SKIP_SHRINKAGE_CHECK CDATA #REQUIRED
>

<!ELEMENT CV_TABLE EMPTY>
<!ATTLIST CV_TABLE
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SKIP_SHRINKAGE_CHECK CDATA #REQUIRED
>

<!ELEMENT SECTION_ARCHIVE EMPTY>
<!ATTLIST SECTION_ARCHIVE
    ID CDATA #REQUIRED
    SECTION_ID CDATA #REQUIRED
    EXTERNAL_VERSION CDATA #IMPLIED
    VERSION_ID CDATA #REQUIRED
    CREATED CDATA #REQUIRED
    DELETED CDATA #IMPLIED
    ROWCOUNT CDATA #REQUIRED
    DATA_CHECKSUM CDATA #IMPLIED
    DATA_VERSION CDATA #IMPLIED
>

<!ELEMENT SECTION_ACCESS_ARCHIVE EMPTY>
<!ATTLIST SECTION_ACCESS_ARCHIVE
    ID CDATA #REQUIRED
    SECTION_ARCHIVE_ID CDATA #REQUIRED
    PROCESS_RUN_ID CDATA #REQUIRED
    READ_AS_DELETED CDATA #IMPLIED
>

<!ELEMENT JOBS EMPTY>
<!ATTLIST JOBS
    ID CDATA #REQUIRED
    PARENTID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    SUBJECT CDATA #REQUIRED
    ACTIVITY CDATA #REQUIRED
    STATUS CDATA #IMPLIED
    HASNEWDATA CDATA #IMPLIED
    HASERROR CDATA #IMPLIED
    INPUT CDATA #IMPLIED
    RESULT CDATA #IMPLIED
    PARAMETERS CDATA #IMPLIED
    OUTPUT CDATA #IMPLIED
    ERROR CDATA #IMPLIED
    STARTED CDATA #IMPLIED
    ENDED CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT PROCESS_OWNER EMPTY>
<!ATTLIST PROCESS_OWNER
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    CONTACT CDATA #IMPLIED
>

<!ELEMENT UPDATE_PROCESS_OWNER EMPTY>
<!ATTLIST UPDATE_PROCESS_OWNER
    ID CDATA #REQUIRED
    PARENTID CDATA #IMPLIED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT PROCESS EMPTY>
<!ATTLIST PROCESS
    ID CDATA #REQUIRED
    OWNERID CDATA #IMPLIED
    RUN CDATA #IMPLIED
    STATUS CDATA #IMPLIED
    STARTED CDATA #IMPLIED
    ENDED CDATA #IMPLIED
>

<!ELEMENT UPDATE_PROCESS EMPTY>
<!ATTLIST UPDATE_PROCESS
    ID CDATA #REQUIRED
    OWNERID CDATA #IMPLIED
    RUN CDATA #IMPLIED
    STATUS CDATA #IMPLIED
    STARTED CDATA #IMPLIED
    ENDED CDATA #IMPLIED
>

<!ELEMENT PROCESS_STATUS EMPTY>
<!ATTLIST PROCESS_STATUS
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

<!ELEMENT JOB_STATUS EMPTY>
<!ATTLIST JOB_STATUS
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

